
<div class="row">
  <ng-container *ngFor="let item of menu">
    <div [routerLink]="['/menu', item._id]" class="col-md-4" *ngIf="item">
      <div class="card shadow-sm">
        <img class="bd-placeholder-img card-img-top" 
          [src]='item.img'
          width="100%" 
          height="225">
        <div class="card-body">
          <h5>{{item.name}}</h5>
          <p class="card-text">{{ item.description }}</p>
          <h5>Price: {{item.price}}</h5>
          </div>
        </div>
      </div>
  </ng-container>
</div>

